---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import Header from "../components/Header.astro";
import Hero from "@/components/Hero.astro";

// const allPosts = await Astro.glob("../pages/posts/*.mdx");
---

<Layout
	title="Diseñador Web y Desarrollador UI · Pablo Fogliazza · pablofogliazza.dev"
>
	<Hero />
    
    <!-- SKILLS -->

    <!-- PROYECTS -->

    <!-- BLOG -->

    <!-- CONTACTO -->

	<!-- {
		allPosts.map((post) => (
			<div>
				<a href={post.url}>{post.frontmatter.title}</a>
			</div>
		))
	} -->
</Layout>

<style></style>
