---
import Layout from "../layouts/Layout.astro";

const title = "Curriculum Vitae";
---

<Layout title="CV">
	<h1>{title}</h1>
	<section class="section">
		<p class="section__title">Acerca de mi.</p>
		<p class="section__text">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nostrum
			tempora nihil ea odio veritatis quibusdam modi fugit. Dicta, ad!
			Voluptatum ratione optio sequi voluptatem mollitia recusandae quis,
			incidunt ad!
		</p>
	</section>
	<section class="section">
		<p class="section__title">Experiencia laboral.</p>
		<p class="section__text">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nostrum
			tempora nihil ea odio veritatis quibusdam modi fugit. Dicta, ad!
			Voluptatum ratione optio sequi voluptatem mollitia recusandae quis,
			incidunt ad!
		</p>
	</section>
	<section class="section">
		<p class="section__title">Educación.</p>
		<p class="section__text">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, nostrum
			tempora nihil ea odio veritatis quibusdam modi fugit. Dicta, ad!
			Voluptatum ratione optio sequi voluptatem mollitia recusandae quis,
			incidunt ad!
		</p>
	</section>
</Layout>
