---
import Layout from '@/layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'

const works = await getCollection('works')

const title = 'Trabajos'
---

<Layout title="Proyectos">
	<h1>
		{title}
	</h1>
	<div style="margin-top: 10rem;"></div>
	{
		works.map((w) => (
			<div>
				<a href={`/works/${w.slug}`}>{w.data.title}</a>
				<p>{w.data.excerpt}</p>
			</div>
		))
	}
</Layout>
