---
import BaseLayout from '@/layouts/BaseLayout.astro'
import Elements from '@/components/Elements.astro'
---

<BaseLayout>
	<div class="" style="margin: 120px auto; display: block; width: 100%;">
		<Elements />
	</div>
</BaseLayout>
