---

---

<a class="brand" href="/" title="Ir a la página de inicio de pablofogliazza.dev">
	<svg viewBox="0 0 56 35" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path
			fill-rule="evenodd"
			clip-rule="evenodd"
			d="M29.4496 32.3892C29.27 32.2819 29.0924 32.1714 28.9167 32.0577C33.2295 28.6709 36 23.409 36 17.4995C36 11.5423 33.1818 6.24034 28.8053 2.8562C29.4621 2.42426 30.1479 2.03684 30.857 1.69751C32.002 1.1502 33.1749 0.736625 34.4444 0.444451C35.7139 0.152277 37.0184 0.00207416 38.3219 1.65949e-05H39.1202H40.901H43.332H46.0809H48.8175H51.2084H52.9223L53.1578 0.000245379C53.3145 0.000473943 53.4711 0.000702284 53.6281 1.65949e-05C54.1805 -0.00204097 54.7135 0.187255 55.126 0.557617C55.5931 0.975303 55.8616 1.58434 55.8544 2.21087H55.8575V5.86099C55.8575 5.9253 55.858 5.98998 55.8585 6.05485V6.05543C55.862 6.50823 55.8656 6.97032 55.7001 7.38051C55.5108 7.84963 55.1569 8.24571 54.7124 8.48748C54.4902 8.60785 54.2526 8.68912 53.9974 8.72718C53.8828 8.74429 53.7677 8.74935 53.6528 8.7544C53.512 8.76058 53.3714 8.76676 53.232 8.79508C52.2084 9.0029 51.482 9.92777 51.482 10.9627C51.5078 11.5677 51.7372 12.1335 52.1888 12.5491C52.4049 12.7477 52.659 12.901 52.9378 13.0008C53.2128 13.0992 53.4848 13.1135 53.7726 13.1287L53.7845 13.1293C54.9542 13.1911 55.8544 14.1849 55.8564 15.3433C55.8571 15.7829 55.8569 16.2226 55.8567 16.6622L55.8564 17.3216V19.5757C55.8564 19.9409 55.804 20.2959 55.6445 20.6302C55.3791 21.1878 54.877 21.6168 54.2834 21.7896C54.0902 21.8464 53.8913 21.8585 53.6952 21.8705C53.5676 21.8783 53.4413 21.886 53.3184 21.9059C53.0067 21.9563 52.7084 22.0746 52.447 22.2516C51.9255 22.6044 51.5726 23.1775 51.4985 23.804C51.466 24.0741 51.4722 24.3552 51.4783 24.6324V24.6325C51.4807 24.7417 51.4831 24.8503 51.4831 24.9573V27.2556C51.4841 28.1753 51.4841 29.0961 51.4841 30.0158C51.4841 30.3856 51.4844 30.7557 51.4846 31.1259C51.4849 31.496 51.4851 31.8661 51.4851 32.2359V32.8326C51.4862 33.1052 51.4049 33.3696 51.2855 33.6135C51.0088 34.1803 50.4872 34.6093 49.8771 34.7698C49.6426 34.8315 49.408 34.8418 49.1693 34.8418H47.8268H45.4534H42.6849H40.184H38.6058C37.9124 34.8418 37.219 34.8182 36.5287 34.7461C35.2674 34.6134 33.9938 34.3346 32.8189 33.9396C31.644 33.5445 30.5134 33.024 29.4496 32.3892ZM28.0529 31.4611C32.2733 28.266 35 23.2015 35 17.4995C35 11.7525 32.2272 6.65016 27.946 3.45932C25.0306 1.28646 21.4157 0 17.5005 0C7.84007 0 0.00929285 7.82665 0 17.484V31.4842V31.4997C0 33.4326 1.5674 35 3.50031 35H3.5158H17.516C21.4732 34.9962 25.123 33.6791 28.0529 31.4611ZM2.14045 31.0805C2.14045 32.0284 2.90866 32.7966 3.85653 32.7966C4.80441 32.7966 5.57262 32.0284 5.57262 31.0805C5.57262 30.1326 4.80441 29.3644 3.85653 29.3644C2.90866 29.3644 2.14045 30.1326 2.14045 31.0805Z"
			fill="currentColor"></path>
	</svg>
	<div class="mask">
		<span>pablofogliazza.dev</span>
		<!-- <span>UI & Front&mdash;End Developer</span> -->
	</div>

	<!-- <strong>pablofogliazza.dev</strong>{Astro.url.pathname === '/' ? '' : <span>{Astro.url.pathname}</span>} -->
</a>

<style lang="scss">
	.brand {
		display: flex;
		align-items: center;
		justify-content: flex-start;

		.mask {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			gap: 2px;
		}

		font-family: var(--fontTitle);
		font-weight: 700;
		font-style: normal;
		font-size: 14px;
		line-height: 1;
		text-decoration: none;
		color: rgb(var(--dark));

		//margin-right: auto;
		//transition: color 0.2s ease-in-out;

		svg {
			width: 56px;
			height: 35px;
			margin-right: 10px;
			fil: rgb(var(--dark));
		}

		&:hover {
			color: rgb(var(--accent));

			svg {
				fill: rgb(var(--accent));
			}
		}
	}
</style>
