<div class="hero">
	<p>
		¡Hola! Mi nombre es Pablo y soy desarrollador web desde el 2007. Me
		especializo en convertir un diseño en código funcional. Trabajo remoto desde
		Bahía Blanca, Argentina. <a href="/cv">Ver Curriculum</a>
	</p>
</div>

<style lang="scss">
	.hero {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		// width: min(90%, 1366px);
		// margin: 0 auto;
	}

	p {
		color: var(--dark);
		text-align: left;
	}
</style>
