---
import { navMenuEsData } from '@/data/siteData'
---

<ul class="navMenu">
	{
		navMenuEsData.map((i) => (
			<li>
				<a class="navMenu__item" href={i.href}>
					{i.title}
				</a>
			</li>
		))
	}
</ul>

<style lang="scss">
	.navMenu {
		display: none;
		margin: 0;
		padding: 0;

		list-style: none;
		@media (min-width: 768px) {
			display: flex;
			align-items: center;
			gap: 16px;
		}

		&__item {
			font-family: var(--fontText);
			font-weight: 300;
			font-size: 15px;
			line-height: 1;
			color: rgba(var(--dark), 1);

			text-decoration: none;

			transition: color 0.2s ease-in-out;

			&:hover {
				color: rgb(var(--accent));
			}
		}
	}
</style>
