---
const oldSkills = [
	{
		color: '#f06529',
		name: 'HTML',
		level: 90,
	},
	{
		color: '#2965f1',
		name: 'CSS',
		level: 80,
	},
	{
		color: '#f0db4f',
		name: 'JavaScript',
		level: 70,
	},
	{
		color: '#de4c36',
		name: 'Git',
		level: 70,
	},
	{
		color: '#ff5d01',
		name: 'Astro',
		icon: 'astro',
	},
	{
		name: 'React',
		color: '#61dafb',
		icon: 'react',
	},
]

import { Icon } from 'astro-icon/components'
import { getCollection } from 'astro:content'
import ActualPosition from '@/components/ActualPosition.astro'
const skills = await getCollection('skills')
---

<div class="skills">
	<div class="skills__container">
		<ActualPosition />
		<div class="skills__list">
			<svg class="skills__svg" viewBox="0 0 329 329" fill="none" class="el" xmlns="http://www.w3.org/2000/svg">
				<path
					fill-rule="evenodd"
					clip-rule="evenodd"
					d="M326.226 164.028C326.226 253.608 253.608 326.226 164.028 326.226C74.4488 326.226 1.83034 253.608 1.83034 164.028C1.83034 74.4489 74.4488 1.83046 164.028 1.83046C253.608 1.83046 326.226 74.4489 326.226 164.028ZM328.028 164.028C328.028 254.603 254.603 328.028 164.028 328.028C73.4534 328.028 0.0281448 254.603 0.0281448 164.028C0.0281448 73.4536 73.4534 0.0282593 164.028 0.0282593C254.603 0.0282593 328.028 73.4536 328.028 164.028ZM282.973 164.028C282.973 229.72 229.72 282.973 164.028 282.973C98.3365 282.973 45.083 229.72 45.083 164.028C45.083 98.3367 98.3365 45.0832 164.028 45.0832C229.72 45.0832 282.973 98.3367 282.973 164.028ZM284.775 164.028C284.775 230.715 230.715 284.776 164.028 284.776C97.3412 284.776 43.2808 230.715 43.2808 164.028C43.2808 97.3414 97.3412 43.281 164.028 43.281C230.715 43.281 284.775 97.3414 284.775 164.028ZM179.586 20.5572C179.544 19.5132 179.109 18.6715 178.282 18.0321C177.456 17.3927 176.409 17.0238 175.143 16.9254C174.218 16.8535 173.396 16.9403 172.679 17.1858C171.968 17.4318 171.398 17.8018 170.97 18.2957C170.548 18.7902 170.311 19.3709 170.259 20.0379C170.216 20.596 170.311 21.0861 170.546 21.5083C170.787 21.9242 171.109 22.2812 171.51 22.5795C171.912 22.8709 172.338 23.1197 172.787 23.3258C173.237 23.5251 173.652 23.6909 174.032 23.8231L176.111 24.5598C176.645 24.7451 177.235 24.9895 177.882 25.2932C178.537 25.5973 179.153 25.991 179.732 26.4742C180.318 26.9511 180.785 27.5421 181.135 28.2471C181.484 28.9521 181.62 29.7946 181.544 30.7747C181.456 31.9045 181.081 32.9023 180.418 33.7683C179.762 34.6348 178.848 35.293 177.676 35.7429C176.512 36.1933 175.126 36.3561 173.52 36.2313C172.023 36.1149 170.745 35.7725 169.687 35.2042C168.635 34.6363 167.83 33.8959 167.271 32.9829C166.719 32.0704 166.446 31.0392 166.454 29.8895L169.067 30.0926C169.074 30.8874 169.288 31.5614 169.711 32.1146C170.141 32.6615 170.703 33.0887 171.399 33.3961C172.101 33.6971 172.867 33.8799 173.698 33.9445C174.664 34.0196 175.544 33.9305 176.337 33.6772C177.131 33.417 177.775 33.022 178.268 32.492C178.762 31.9552 179.038 31.3057 179.097 30.5434C179.151 29.8492 179.001 29.2692 178.647 28.8035C178.293 28.3378 177.81 27.9442 177.198 27.6228C176.586 27.3013 175.921 27.01 175.202 26.7487L172.686 25.8137C171.089 25.2171 169.848 24.4463 168.963 23.501C168.078 22.5558 167.69 21.3788 167.8 19.97C167.891 18.7993 168.286 17.803 168.987 16.9811C169.695 16.1528 170.605 15.5388 171.718 15.1392C172.839 14.7332 174.066 14.5821 175.4 14.6858C176.747 14.7905 177.926 15.1252 178.937 15.6899C179.948 16.2478 180.728 16.9657 181.276 17.8436C181.83 18.7221 182.084 19.6901 182.036 20.7476L179.586 20.5572ZM190.278 16.6445L189.779 18.8414L196.21 20.3013L192.066 38.5551L194.542 39.1173L198.686 20.8635L205.117 22.3234L205.616 20.1266L190.278 16.6445ZM204.727 41.8643L202.246 40.899L217.026 24.1473L219.469 25.0978L219.041 47.4338L216.56 46.4684L216.749 40.1691L208.845 37.0939L204.727 41.8643ZM217.121 27.7442L216.82 37.7797L210.407 35.2845L216.968 27.6848L217.121 27.7442ZM242.285 44.1355L244.466 45.436C244.855 44.4117 245.047 43.4096 245.043 42.4297C245.042 41.4439 244.87 40.5066 244.526 39.6178C244.185 38.7232 243.691 37.9044 243.046 37.1616C242.405 36.4223 241.631 35.7817 240.722 35.2399C239.186 34.3239 237.596 33.8846 235.952 33.922C234.309 33.9593 232.731 34.4654 231.22 35.4401C229.709 36.4149 228.387 37.8521 227.255 39.7519C226.122 41.6516 225.486 43.4979 225.347 45.2907C225.208 47.0835 225.513 48.7117 226.262 50.1754C227.01 51.6391 228.153 52.8289 229.689 53.7448C230.598 54.2867 231.53 54.6634 232.484 54.875C233.445 55.0901 234.398 55.1378 235.344 55.0181C236.293 54.8925 237.201 54.5956 238.068 54.1272C238.936 53.6588 239.726 53.0133 240.439 52.1906L238.258 50.8902C237.758 51.4348 237.204 51.8513 236.595 52.1399C235.995 52.426 235.369 52.5969 234.715 52.6526C234.072 52.7059 233.425 52.6503 232.776 52.4859C232.127 52.3215 231.504 52.0609 230.906 51.7044C229.815 51.0541 228.991 50.1895 228.435 49.1104C227.884 48.0349 227.667 46.805 227.785 45.4209C227.909 44.0402 228.436 42.5701 229.366 41.0104C230.295 39.4507 231.338 38.2882 232.494 37.5229C233.656 36.761 234.841 36.3667 236.049 36.3399C237.263 36.3166 238.415 36.6301 239.506 37.2803C240.104 37.6369 240.629 38.0616 241.083 38.5544C241.536 39.0472 241.89 39.5924 242.146 40.1899C242.411 40.7851 242.56 41.4145 242.594 42.0782C242.633 42.7454 242.53 43.4312 242.285 44.1355ZM241.723 61.2027L255.298 45.2184L257.234 46.8623L250.499 54.792L250.687 54.9511L264.602 53.1196L267.13 55.2672L254.293 56.7784L253.555 71.2515L251.214 69.263L251.967 57.1133L248.06 57.6642L243.659 62.8466L241.723 61.2027ZM274.866 84.0665L276.65 82.6919L271.052 75.4231L269.267 76.7978L274.866 84.0665ZM296.375 105.701C297.258 105.142 297.77 104.345 297.91 103.309C298.05 102.273 297.846 101.183 297.298 100.037C296.897 99.1999 296.411 98.5319 295.84 98.0334C295.271 97.5411 294.666 97.2329 294.024 97.1087C293.385 96.9907 292.763 97.0761 292.16 97.3648C291.655 97.6064 291.278 97.9342 291.03 98.3482C290.791 98.7654 290.642 99.2223 290.585 99.719C290.533 100.213 290.531 100.706 290.577 101.198C290.63 101.688 290.694 102.13 290.769 102.525L291.171 104.694C291.278 105.249 291.361 105.882 291.422 106.595C291.486 107.313 291.453 108.044 291.325 108.787C291.205 109.533 290.927 110.233 290.491 110.888C290.055 111.543 289.394 112.083 288.507 112.507C287.485 112.996 286.433 113.17 285.352 113.029C284.273 112.894 283.246 112.432 282.27 111.643C281.298 110.859 280.464 109.741 279.769 108.288C279.12 106.933 278.778 105.655 278.741 104.455C278.706 103.26 278.945 102.193 279.456 101.252C279.97 100.317 280.727 99.5657 281.726 98.9969L282.857 101.362C282.172 101.765 281.696 102.288 281.428 102.931C281.17 103.576 281.081 104.277 281.163 105.033C281.253 105.792 281.478 106.547 281.838 107.298C282.256 108.172 282.773 108.89 283.389 109.45C284.012 110.007 284.676 110.367 285.381 110.529C286.093 110.688 286.794 110.602 287.483 110.272C288.112 109.972 288.539 109.552 288.765 109.012C288.991 108.473 289.09 107.858 289.063 107.167C289.035 106.477 288.954 105.755 288.821 105.001L288.372 102.355C288.09 100.674 288.137 99.2138 288.513 97.9746C288.889 96.7354 289.714 95.8108 290.989 95.201C292.048 94.6942 293.108 94.5386 294.171 94.7342C295.242 94.933 296.229 95.4143 297.132 96.1781C298.043 96.9451 298.788 97.9321 299.366 99.1391C299.949 100.358 300.249 101.547 300.265 102.704C300.288 103.859 300.056 104.893 299.57 105.807C299.087 106.726 298.375 107.43 297.436 107.918L296.375 105.701ZM305.131 113.07L302.978 113.734L304.923 120.035L287.038 125.556L287.787 127.982L305.672 122.462L307.617 128.763L309.77 128.098L305.131 113.07ZM290.485 138.158L290.082 135.527L311.977 139.964L312.373 142.555L292.81 153.341L292.407 150.709L297.958 147.726L296.674 139.343L290.485 138.158ZM308.908 141.843L300.064 146.595L299.022 139.793L308.883 141.681L308.908 141.843ZM307.3 171.942L307.266 174.481C308.347 174.304 309.311 173.969 310.157 173.475C311.01 172.981 311.735 172.363 312.332 171.62C312.936 170.877 313.398 170.04 313.718 169.109C314.038 168.185 314.205 167.194 314.219 166.136C314.243 164.348 313.827 162.751 312.972 161.347C312.117 159.943 310.89 158.831 309.29 158.01C307.69 157.19 305.784 156.765 303.572 156.735C301.361 156.705 299.444 157.079 297.822 157.856C296.201 158.633 294.944 159.712 294.051 161.092C293.159 162.473 292.7 164.058 292.676 165.846C292.662 166.904 292.802 167.899 293.097 168.832C293.392 169.771 293.827 170.62 294.404 171.379C294.988 172.138 295.7 172.775 296.539 173.292C297.379 173.808 298.333 174.169 299.402 174.375L299.437 171.836C298.715 171.676 298.077 171.404 297.522 171.021C296.974 170.645 296.513 170.189 296.138 169.651C295.769 169.12 295.494 168.533 295.311 167.889C295.129 167.245 295.042 166.574 295.052 165.878C295.069 164.609 295.405 163.463 296.061 162.441C296.716 161.425 297.672 160.622 298.93 160.032C300.187 159.448 301.723 159.168 303.539 159.193C305.355 159.217 306.883 159.538 308.124 160.155C309.365 160.78 310.3 161.608 310.927 162.641C311.555 163.68 311.86 164.834 311.843 166.104C311.834 166.8 311.729 167.468 311.53 168.107C311.33 168.746 311.035 169.326 310.646 169.846C310.263 170.374 309.793 170.818 309.235 171.179C308.677 171.547 308.032 171.801 307.3 171.942ZM292.249 180.031L312.882 183.781L312.428 186.279L302.192 184.419L302.148 184.661L310.7 195.79L310.106 199.054L302.372 188.698L289.473 195.305L290.023 192.282L300.917 186.852L298.484 183.746L291.795 182.53L292.249 180.031ZM289.001 220.162L291.082 221.024L294.594 212.548L292.513 211.686L289.001 220.162ZM280.939 249.6C281.864 250.088 282.81 250.134 283.778 249.74C284.746 249.346 285.59 248.626 286.31 247.581C286.837 246.816 287.174 246.062 287.322 245.318C287.466 244.58 287.432 243.902 287.22 243.283C287.004 242.67 286.621 242.174 286.07 241.794C285.609 241.476 285.137 241.313 284.654 241.304C284.173 241.304 283.703 241.403 283.244 241.6C282.79 241.801 282.361 242.045 281.957 242.33C281.559 242.619 281.207 242.895 280.902 243.158L279.221 244.586C278.793 244.954 278.286 245.342 277.698 245.75C277.107 246.163 276.457 246.499 275.748 246.757C275.042 247.024 274.296 247.132 273.511 247.08C272.726 247.028 271.929 246.723 271.119 246.166C270.186 245.523 269.511 244.697 269.095 243.689C268.675 242.686 268.565 241.566 268.763 240.326C268.959 239.093 269.513 237.813 270.427 236.486C271.279 235.25 272.217 234.316 273.24 233.686C274.259 233.062 275.303 232.737 276.373 232.712C277.44 232.693 278.468 232.974 279.459 233.558L277.972 235.716C277.281 235.323 276.59 235.17 275.9 235.258C275.211 235.356 274.559 235.628 273.944 236.075C273.331 236.531 272.789 237.102 272.316 237.788C271.766 238.586 271.401 239.392 271.222 240.205C271.049 241.022 271.067 241.777 271.278 242.47C271.495 243.166 271.918 243.731 272.547 244.165C273.121 244.56 273.698 244.722 274.278 244.649C274.859 244.577 275.442 244.356 276.027 243.989C276.612 243.621 277.198 243.191 277.785 242.701L279.856 240.994C281.174 239.912 282.463 239.226 283.725 238.935C284.987 238.644 286.2 238.899 287.363 239.701C288.33 240.367 288.993 241.209 289.352 242.228C289.713 243.256 289.787 244.352 289.574 245.515C289.363 246.688 288.878 247.825 288.119 248.926C287.352 250.039 286.47 250.891 285.475 251.482C284.485 252.076 283.473 252.39 282.438 252.424C281.4 252.463 280.436 252.196 279.545 251.624L280.939 249.6ZM278.9 260.877L277.25 259.343L272.76 264.173L259.051 251.428L257.322 253.288L271.031 266.033L266.541 270.863L268.191 272.396L278.9 260.877ZM249.857 260.707L251.934 259.041L259.052 280.217L257.007 281.857L237.877 270.319L239.954 268.653L245.315 271.966L251.929 266.659L249.857 260.707ZM255.889 278.5L247.348 273.223L252.715 268.916L256.017 278.398L255.889 278.5ZM229.154 292.099L226.939 293.34C227.633 294.188 228.405 294.854 229.256 295.34C230.111 295.831 231.009 296.15 231.951 296.295C232.897 296.446 233.852 296.427 234.818 296.238C235.779 296.052 236.72 295.7 237.643 295.183C239.203 294.309 240.378 293.15 241.165 291.707C241.953 290.264 242.302 288.645 242.211 286.849C242.12 285.053 241.534 283.19 240.453 281.261C239.372 279.331 238.089 277.859 236.605 276.844C235.121 275.829 233.558 275.281 231.916 275.199C230.274 275.117 228.672 275.514 227.112 276.388C226.189 276.905 225.398 277.525 224.738 278.246C224.072 278.972 223.555 279.774 223.187 280.653C222.822 281.538 222.626 282.473 222.599 283.459C222.573 284.444 222.738 285.451 223.095 286.48L225.31 285.238C225.088 284.534 225.003 283.845 225.057 283.173C225.108 282.511 225.273 281.883 225.55 281.289C225.826 280.704 226.196 280.172 226.663 279.692C227.129 279.211 227.666 278.801 228.273 278.46C229.381 277.84 230.541 277.557 231.754 277.613C232.961 277.673 234.135 278.099 235.276 278.892C236.41 279.688 237.422 280.878 238.309 282.462C239.197 284.046 239.684 285.53 239.77 286.914C239.851 288.3 239.602 289.524 239.022 290.584C238.436 291.648 237.59 292.49 236.482 293.111C235.875 293.451 235.244 293.695 234.591 293.842C233.938 293.989 233.288 294.024 232.643 293.947C231.995 293.88 231.375 293.695 230.783 293.393C230.185 293.094 229.642 292.663 229.154 292.099ZM214.646 283.094L221.698 302.844L219.307 303.698L215.808 293.9L215.576 293.983L210.203 306.949L207.079 308.064L212.19 296.192L200.026 288.315L202.919 287.282L213.064 294.01L214.541 290.351L212.254 283.948L214.646 283.094ZM178.274 300.313L178.566 302.547L187.663 301.354L187.371 299.121L178.274 300.313ZM148.519 308.059C148.559 309.103 148.992 309.945 149.818 310.586C150.643 311.227 151.689 311.598 152.955 311.698C153.88 311.772 154.702 311.686 155.42 311.442C156.131 311.197 156.701 310.829 157.131 310.335C157.554 309.842 157.791 309.261 157.844 308.594C157.889 308.036 157.794 307.546 157.561 307.124C157.32 306.707 156.999 306.35 156.598 306.051C156.197 305.759 155.772 305.509 155.322 305.302C154.873 305.102 154.458 304.935 154.078 304.803L152 304.062C151.467 303.876 150.877 303.63 150.231 303.326C149.577 303.02 148.961 302.626 148.383 302.141C147.798 301.663 147.332 301.072 146.984 300.366C146.636 299.66 146.501 298.818 146.579 297.838C146.668 296.708 147.046 295.711 147.71 294.846C148.368 293.981 149.283 293.324 150.455 292.876C151.621 292.428 153.007 292.268 154.613 292.395C156.11 292.514 157.387 292.859 158.444 293.429C159.494 293.999 160.298 294.741 160.856 295.655C161.406 296.568 161.677 297.6 161.668 298.75L159.054 298.542C159.049 297.747 158.836 297.073 158.414 296.519C157.985 295.971 157.423 295.543 156.729 295.234C156.027 294.932 155.261 294.748 154.431 294.682C153.464 294.605 152.584 294.693 151.791 294.944C150.996 295.203 150.352 295.597 149.858 296.126C149.363 296.662 149.086 297.311 149.025 298.073C148.97 298.767 149.119 299.348 149.472 299.814C149.826 300.28 150.308 300.675 150.919 300.997C151.53 301.32 152.195 301.612 152.914 301.875L155.428 302.814C157.024 303.414 158.263 304.187 159.147 305.134C160.03 306.08 160.416 307.258 160.304 308.667C160.211 309.837 159.813 310.833 159.111 311.654C158.402 312.481 157.49 313.093 156.377 313.491C155.256 313.895 154.028 314.043 152.695 313.937C151.347 313.83 150.169 313.494 149.159 312.927C148.149 312.367 147.371 311.648 146.824 310.769C146.271 309.89 146.019 308.921 146.069 307.864L148.519 308.059ZM137.818 311.952L138.321 309.756L131.893 308.284L136.07 290.038L133.594 289.471L129.417 307.718L122.989 306.246L122.486 308.442L137.818 311.952ZM123.418 286.707L125.898 287.677L111.087 304.402L108.646 303.447L109.114 281.112L111.593 282.082L111.393 288.381L119.291 291.47L123.418 286.707ZM117.726 293.277L111.317 290.77L110.999 300.805L111.152 300.865L117.726 293.277ZM85.8631 284.369L83.6842 283.064C83.2942 284.088 83.1003 285.09 83.1024 286.07C83.1011 287.055 83.2718 287.993 83.6145 288.882C83.9538 289.778 84.4457 290.597 85.0904 291.341C85.7292 292.082 86.5025 292.724 87.4103 293.267C88.9449 294.186 90.5341 294.628 92.1777 294.593C93.8214 294.559 95.3997 294.056 96.9125 293.084C98.4252 292.112 99.7497 290.677 100.886 288.779C102.022 286.881 102.661 285.036 102.803 283.244C102.945 281.451 102.643 279.822 101.897 278.357C101.151 276.892 100.011 275.7 98.4763 274.782C97.5685 274.238 96.6374 273.86 95.683 273.647C94.7228 273.43 93.7698 273.38 92.8239 273.498C91.8746 273.622 90.9658 273.918 90.0976 274.384C89.2294 274.851 88.438 275.495 87.7235 276.317L89.9024 277.621C90.4029 277.077 90.958 276.662 91.5677 276.374C92.168 276.089 92.7947 275.92 93.448 275.865C94.0918 275.813 94.7381 275.87 95.3869 276.035C96.0356 276.201 96.6587 276.462 97.2561 276.82C98.3456 277.472 99.1677 278.338 99.7226 279.418C100.272 280.495 100.486 281.725 100.365 283.109C100.239 284.489 99.7098 285.959 98.7771 287.517C97.8444 289.075 96.7995 290.235 95.6425 290.999C94.4795 291.758 93.2939 292.151 92.0858 292.175C90.8717 292.196 89.72 291.881 88.6306 291.229C88.0331 290.871 87.5082 290.445 87.0558 289.952C86.6034 289.458 86.2499 288.912 85.9952 288.314C85.7312 287.719 85.5831 287.089 85.5508 286.425C85.5127 285.758 85.6168 285.073 85.8631 284.369ZM86.4553 267.302L72.8519 283.263L70.9192 281.615L77.6678 273.697L77.4807 273.538L63.5625 275.345L61.0375 273.193L73.8771 271.704L74.641 257.233L76.9789 259.225L76.2041 271.374L80.1121 270.83L84.5226 265.655L86.4553 267.302ZM53.3529 244.38L51.5657 245.751L57.1513 253.03L58.9385 251.658L53.3529 244.38ZM31.8814 222.707C30.9974 223.264 30.4844 224.06 30.3424 225.095C30.2004 226.131 30.4023 227.222 30.9482 228.368C31.3474 229.206 31.8323 229.875 32.4029 230.375C32.9705 230.868 33.5753 231.177 34.2171 231.303C34.8561 231.422 35.4775 231.338 36.0815 231.05C36.5869 230.809 36.9642 230.482 37.2134 230.069C37.4534 229.652 37.6027 229.195 37.6611 228.699C37.7133 228.205 37.7166 227.712 37.6711 227.219C37.6195 226.73 37.5562 226.287 37.4814 225.892L37.0833 223.722C36.9779 223.168 36.8954 222.534 36.8358 221.822C36.7733 221.103 36.8072 220.372 36.9375 219.63C37.0587 218.884 37.3377 218.184 37.7747 217.53C38.2117 216.875 38.874 216.337 39.7615 215.914C40.7846 215.427 41.8368 215.255 42.918 215.398C43.9963 215.535 45.0225 215.998 45.9967 216.79C46.9679 217.575 47.7998 218.695 48.4925 220.149C49.1382 221.505 49.4786 222.783 49.5135 223.984C49.5456 225.179 49.3052 226.246 48.7925 227.186C48.2769 228.119 47.519 228.869 46.5187 229.437L45.3917 227.07C46.0772 226.668 46.5545 226.146 46.8233 225.503C47.083 224.858 47.1728 224.157 47.0926 223.402C47.0034 222.643 46.7797 221.887 46.4216 221.135C46.0049 220.26 45.4889 219.542 44.8737 218.98C44.2523 218.422 43.589 218.061 42.8838 217.898C42.1723 217.738 41.4715 217.822 40.7812 218.151C40.1525 218.45 39.7246 218.869 39.4975 219.408C39.2703 219.948 39.17 220.563 39.1964 221.253C39.2228 221.944 39.3021 222.666 39.4342 223.42L39.878 226.066C40.1572 227.748 40.1078 229.208 39.7298 230.447C39.3518 231.685 38.5249 232.608 37.2491 233.216C36.189 233.721 35.1281 233.874 34.0662 233.677C32.9952 233.476 32.0091 232.993 31.1077 232.228C30.1973 231.459 29.4544 230.471 28.8791 229.263C28.298 228.042 28.0002 226.853 27.9858 225.696C27.9652 224.541 28.1988 223.508 28.6865 222.595C29.1714 221.676 29.8841 220.974 30.8247 220.488L31.8814 222.707ZM23.1393 215.322L25.293 214.662L23.3594 208.357L41.255 202.869L40.5103 200.441L22.6148 205.929L20.6812 199.625L18.5275 200.285L23.1393 215.322ZM37.8307 190.262L38.229 192.895L16.3419 188.419L15.9497 185.827L35.5325 175.075L35.9309 177.708L30.3741 180.681L31.643 189.066L37.8307 190.262ZM19.4139 186.545L28.2664 181.809L29.296 188.613L19.4384 186.707L19.4139 186.545ZM21.0749 156.443L21.1136 153.904C20.0322 154.079 19.0679 154.412 18.2206 154.904C17.3665 155.397 16.6403 156.014 16.0418 156.756C15.4365 157.497 14.9732 158.333 14.6518 159.264C14.3305 160.187 14.1618 161.178 14.1457 162.236C14.1184 164.025 14.531 165.622 15.3835 167.027C16.236 168.433 17.4616 169.548 19.0603 170.371C20.659 171.194 22.5641 171.622 24.7756 171.656C26.9872 171.69 28.9044 171.32 30.5275 170.545C32.1505 169.771 33.4095 168.695 34.3044 167.316C35.1993 165.937 35.6604 164.353 35.6876 162.564C35.7037 161.506 35.5653 160.511 35.2723 159.578C34.9794 158.638 34.5451 157.788 33.9695 157.029C33.3871 156.269 32.6766 155.63 31.8379 155.112C30.9992 154.594 30.0455 154.231 28.9768 154.024L28.9381 156.563C29.6593 156.724 30.2969 156.997 30.8509 157.381C31.3982 157.758 31.8589 158.215 32.233 158.753C32.6004 159.285 32.8748 159.873 33.0562 160.517C33.2375 161.162 33.3229 161.832 33.3123 162.528C33.2929 163.798 32.9546 164.943 32.2973 165.964C31.6401 166.978 30.6823 167.779 29.4239 168.368C28.1656 168.949 26.6287 169.226 24.8131 169.199C22.9974 169.171 21.4696 168.847 20.2297 168.228C18.9898 167.601 18.0569 166.771 17.4309 165.738C16.8049 164.697 16.5017 163.542 16.521 162.272C16.5316 161.576 16.6374 160.909 16.8383 160.27C17.0392 159.631 17.3347 159.052 17.725 158.532C18.1085 158.006 18.5795 157.562 19.138 157.202C19.6966 156.835 20.3422 156.582 21.0749 156.443ZM36.14 148.387L15.5135 144.602L15.9719 142.104L26.2046 143.982L26.2489 143.74L17.7168 132.596L18.3156 129.333L26.0321 139.702L38.9422 133.119L38.3876 136.14L27.4835 141.551L29.9109 144.662L36.5984 145.889L36.14 148.387ZM39.4586 108.261L37.3789 107.395L33.8524 115.865L35.932 116.731L39.4586 108.261ZM47.574 78.8353C46.6508 78.3461 45.7048 78.2976 44.7361 78.69C43.7674 79.0824 42.9219 79.8008 42.1996 80.845C41.6714 81.6085 41.3328 82.3621 41.1837 83.1056C41.0385 83.8435 41.0713 84.522 41.2822 85.141C41.4971 85.7544 41.8796 86.2514 42.4297 86.632C42.8901 86.9505 43.3616 87.1148 43.8443 87.125C44.3253 87.1257 44.7957 87.0277 45.2554 86.8311C45.7095 86.6306 46.1388 86.388 46.5432 86.1033C46.942 85.8147 47.2942 85.5396 47.5998 85.2778L49.2831 83.8524C49.7117 83.4848 50.2201 83.0978 50.8084 82.6913C51.4006 82.2792 52.0511 81.9448 52.76 81.688C53.4671 81.4218 54.2131 81.3153 54.998 81.3685C55.783 81.4218 56.5796 81.728 57.3881 82.2872C58.32 82.9319 58.9932 83.7587 59.4077 84.7675C59.826 85.7707 59.9346 86.8917 59.7334 88.1305C59.5362 89.3636 58.9793 90.6426 58.0627 91.9676C57.2084 93.2027 56.2692 94.1344 55.2454 94.7625C54.2254 95.385 53.1803 95.708 52.11 95.7313C51.0436 95.7489 50.0155 95.4652 49.0257 94.8802L50.517 92.7243C51.2071 93.1187 51.8975 93.2725 52.5882 93.1859C53.2773 93.0898 53.9295 92.8189 54.545 92.3731C55.1588 91.9178 55.7026 91.3477 56.1764 90.6627C56.7278 89.8655 57.0939 89.0604 57.2745 88.2473C57.4494 87.4304 57.4321 86.6755 57.2224 85.9826C57.0071 85.2859 56.5851 84.72 55.9563 84.285C55.3837 83.8889 54.807 83.7266 54.2263 83.7981C53.6457 83.8695 53.0625 84.0886 52.4767 84.4554C51.891 84.8222 51.3042 85.2505 50.7163 85.7403L48.642 87.4431C47.3226 88.5225 46.0317 89.2067 44.7694 89.4956C43.5071 89.7845 42.2949 89.527 41.1327 88.7231C40.1671 88.0551 39.5055 87.2115 39.1481 86.1923C38.7889 85.1636 38.7168 84.0678 38.9318 82.905C39.1451 81.7328 39.6323 80.5964 40.3935 79.4961C41.1624 78.3844 42.0452 77.5342 43.0419 76.9454C44.033 76.3526 45.0457 76.0405 46.0802 76.009C47.1185 75.9719 48.0825 76.2403 48.9721 76.8142L47.574 78.8353ZM49.6328 67.563L51.2801 69.0997L55.7784 64.2778L69.4654 77.0465L71.1977 75.1896L57.5107 62.4209L62.0091 57.599L60.3619 56.0623L49.6328 67.563ZM78.6755 67.7837L76.596 69.4462L69.5154 48.2579L71.5629 46.621L90.6725 58.1925L88.593 59.855L83.2377 56.5326L76.6137 61.8283L78.6755 67.7837ZM72.6748 49.9796L81.2064 55.2724L75.8316 59.5694L72.5469 50.0819L72.6748 49.9796ZM99.4339 36.4288L101.652 35.1914C100.959 34.3427 100.188 33.6747 99.3374 33.1876C98.4838 32.6946 97.5862 32.3746 96.6444 32.2278C95.6992 32.0751 94.7435 32.0924 93.7771 32.2799C92.8167 32.464 91.8745 32.8138 90.9504 33.3294C89.3886 34.2008 88.2125 35.3574 87.4221 36.799C86.6318 38.2406 86.2803 39.8594 86.3678 41.6554C86.4553 43.4515 87.0379 45.3152 88.1156 47.2467C89.1933 49.1782 90.4734 50.6528 91.9559 51.6705C93.4383 52.6882 95.0005 53.2393 96.6424 53.3238C98.2842 53.4083 99.8861 53.0148 101.448 52.1433C102.372 51.6278 103.165 51.0097 103.826 50.2891C104.493 49.5651 105.011 48.7638 105.381 47.8853C105.747 47.0008 105.945 46.0658 105.973 45.0805C106.002 44.0951 105.839 43.0879 105.483 42.0589L103.266 43.2962C103.487 44.0013 103.57 44.6897 103.515 45.3615C103.463 46.024 103.297 46.6519 103.018 47.2451C102.742 47.8291 102.371 48.3609 101.903 48.8405C101.436 49.3201 100.899 49.7295 100.29 50.0688C99.1816 50.6875 98.0208 50.9677 96.808 50.9096C95.6011 50.8482 94.4281 50.42 93.2888 49.6252C92.1555 48.8269 91.1465 47.635 90.2617 46.0493C89.3769 44.4635 88.8925 42.9789 88.8084 41.5952C88.7303 40.2083 88.982 38.9851 89.5635 37.9259C90.151 36.8632 90.9992 36.0226 92.108 35.4039C92.716 35.0646 93.3468 34.8221 94.0003 34.6764C94.6538 34.5306 95.3032 34.4966 95.9485 34.5743C96.5964 34.6428 97.216 34.8286 97.8074 35.1319C98.4047 35.4318 98.9469 35.8641 99.4339 36.4288ZM113.926 45.4598L106.909 25.6977L109.302 24.8479L112.783 34.6518L113.014 34.5695L118.411 21.6133L121.537 20.5032L116.405 32.366L128.554 40.2653L125.66 41.2932L115.527 34.5466L114.044 38.2028L116.319 44.61L113.926 45.4598ZM150.328 28.3055L150.039 26.0713L140.94 27.2479L141.229 29.4821L150.328 28.3055Z"
					fill="#E5E7EB"></path>
			</svg>
			<div class="skills__image"></div>
			<div class="skills__filter"></div>
			{
				skills.map((s) => (
					<div class="skills__item">
						<span class="skills__name">{s.data.name}</span>
						<Icon class="skills__icon" name={s.data.icon} size={44} />
					</div>
				))
			}
		</div>
	</div>
</div>
<script>
	// rotate constant from gsap

	import gsap from 'gsap'

	const el = document.querySelector('.skills__svg')
	el?.addEventListener('mouseenter', () => {
		gsap.to(el, {
			rotate: 180,
			duration: 3,
			ease: 'ease-in-out',
		})
	})
</script>

<style lang="scss">
	.skills {
		padding-top: 3rem;
		padding-bottom: 3rem;

		&__container {
			width: min(90%, 1200px);
			margin: 0 auto;

			display: grid;
			grid-template-columns: 1fr 2fr;
			gap: 12px;

			align-items: center;
		}

		&__list {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;
			gap: 14px;
			padding: 2rem 2rem 2rem 6rem;
			border-radius: 4px;
			position: relative;
			overflow: hidden;
			width: 100%;
			min-height: 180px;
			box-shadow: 0 2px 6px 0 rgba(#000000, 0.5);
		}

		&__svg {
			width: 200px;
			height: auto;
			position: absolute;
			z-index: 3;
			top: 50%;
			left: 0;
			transform: translateX(-53%) translateY(-50%);
		}

		&__image {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-image: url('/actual-position.jpg');
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			//filter: contrast(1.7) saturate(1.7) brightness(0.7);
			mix-blend-mode: luminosity;
			opacity: 0.25;
			z-index: 1;
		}

		&__filter {
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			//width: 100%;
			//height: 100%;
			//background-image: linear-gradient(to right, rgba(#faa24a, 1) 0%, rgba(#0a7283, 1) 100%);
			backdrop-filter: blur(2px);
			z-index: 2;
			border-top: 1px solid #ffffff33;
			mix-blend-mode: soft-light;
		}

		&__item {
			display: flex;
			flex-direction: column-reverse;
			gap: 20px;
			align-items: center;
			position: relative;
			z-index: 3;
		}

		&__name {
			font-family: var(--font-family);
			font-size: 13px;
			line-height: 1;
			font-weight: 500;
			display: none;
		}

		&__icon {
			//mix-blend-mode: screen;
			//filter: brightness(0.7) contrast(1.6) grayscale(80%);
			//opacity: 0.8;
		}
	}
</style>
