---
// import '@fontsource/poppins/200.css'
// import '@fontsource/poppins/300.css'
// import '@fontsource/poppins/400.css'
// import '@fontsource/poppins/500.css'
// import '@fontsource/poppins/700.css'
// import '@fontsource/poppins/800.css'

// import '@fontsource/inter/variable.css'

// Supports weights 100-900
import '@fontsource-variable/inter'

import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import BaseHead from './BaseHead.astro'
---

<!doctype html>
<html lang="es-AR">
	<BaseHead {...Astro.props} />
	<body class="dark">
		<main>
			<Header />
			<slot />
			<Footer />
		</main>
		<style is:global>
			:root {
				/* --accent: 255, 122, 53; /*71, 201, 173; /*255, 96, 53; /*211, 58, 44; /*250, 163, 86; /*248, 165, 89; 109, 164, 170; */
				--shadowDark: 0 2px 10px 0 rgba(31, 54, 61, 0.1);
				--fontTitle: 'Inter Variable', sans-serif;
				--fontText: 'Inter Variable', sans-serif; /*'Poppins', sans-serif; /*'Inter Variable', sans-serif;*/
				font-family: 'Neue Haas Grotesk Display Pro', sans-serif;
				font-size: 18px;
				line-height: 1.5;
			}

			* {
				margin: 0;
				padding: 0;
				box-sizing: border-box;
			}
			html {
				/* font-family: "Figtree Variable", sans-serif; */
			}
			body {
				font-family: var(--fontText);
				font-size: 17px;
				line-height: 1.5;
				color: rgb(var(--dark));
				font-weight: 400;
				background-color: rgb(var(--light));
				--light: 229, 231, 235; /*15, 25, 43*/
				--dark: 8, 11, 22; /*243, 248, 249; */
				--accent: 245, 128, 141;
				&.dark {
					--light: 8, 11, 22;
					--dark: 229, 231, 235;
					--accent: 245, 128, 141; /*252, 200, 128;*/
				}
			}
		</style>
	</body>
</html>
