---
interface Props {
	title: string
}

const { title } = Astro.props

// Supports weights 100-900
import '@fontsource-variable/inter'
// Supports weights 100-900
//import "@fontsource/barlow";

import Header from '../components/Header.astro'

import { getLangFromUrl } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/fli3bzs.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<Header />
			<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent: 109, 164, 170;
		--dark: 31, 54, 61;
		--light: 252, 251, 245;
	}
	html {
		/* font-family: "Figtree Variable", sans-serif; */
	}
	body {
		font-family: 'Inter Variable', sans-serif;
		font-size: 17px;
		line-height: 1.5;
		color: rgb(var(--dark));
		font-weight: 400;
		background-color: rgb(var(--light));
		margin: 0;
		padding: 0;
	}
</style>
